pre {
  background: rgba(0, 0, 0, 0.8);
}

.reveal code {
  font-size: 1.2em;
  color: green;
  font-weight: bold;
}

a {
  background: rgba(0, 0, 0, 0.8);
}

li {
  list-style: none;
}

p {
  text-align: center;
}

.reveal h1 {
  font-size: 3em;
}
