// fonts
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import url(http://fonts.googleapis.com/css?family=Glass+Antiqua);
$font-family: 'Glass Antiqua', sans-serif;

// colours
$brand-primary: #fa8100;

// numbers
$footer-height: 40px;
