html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  background-color: $brand-primary;
  color: white;
  height: $footer-height;
  padding: 10px 16px;
  opacity: 0.5;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}
