@import 'bootstrap';
@import 'defaults';
@import 'footer';

body {
  font-family: $font-family ;
  background-image: url('/assets/green-planks.jpg');
  color: $brand-primary;
  text-transform: lowercase;
  text-align: center;
  text-shadow: 0 0 5px darken($brand-primary, 50%);
}

#controls {
  font-size: 2em;
  img {
    height: 100px;
    color: $brand-primary;
  }
}

$light-on: lighten($brand-primary, 100%);

.bulb-on {
  color: $light-on;
  text-shadow: 0 0 8px $light-on;
}

.light-control:link {
  color: $brand-primary;
  font-size: 1em;
}

hr {
  border-color: $brand-primary;
  width: 60%;
}
