.reveal pre {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
}

.reveal code {
  font-family: 'spectrum';
  font-size: 0.9em;
  color: green;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  tab-size: 2em;
  word-spacing: 1em;
  background: rgba(0, 0, 0, 0.8);
}

a {
  background: rgba(0, 0, 0, 0.8);
}

li {
  list-style: none;
}

p {
  text-align: center;
}

.reveal h1 {
  font-size: 3em;
}

.speaker-controls-notes .value {
  font-size: 0.5em !important;
}
